/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    font-weight: 400;
}
ol, ul {
    list-style: none;
    padding: 0;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* typography */
h1{
    font-family: 'Bevan', 'Rockwell', serif;
    font-size: 4em;
    margin-bottom: 40px;
}
h2{
    font-weight: 300;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding:6px 0 20px 10px;
    color: #333;
}

h3{
    font-size: 2em;
    color: #333;
}

/* -----------------------------------
 * --basics
 * ----------------------------------- */
#container{
    padding: 10px;
    position: relative;
}
.left{
    float: left;
    width: 30%;
}
.right{
    float: right;
    width: 70%;
}
#the-game{
    display: none;
}
.left ul{
    padding: 6px 18px 10px 10px;
}
.right ul{
    border-left: 4px #dedede solid;
    padding: 6px 10px 10px 20px;
}


.right h2{
    padding-left: 20px;
}

/* -----------------------------------
 * --loading
 * ----------------------------------- */
#loading{
    position: absolute;
    top: 160px;
    text-align: center;
    width: 100%;
}

.spinner {
    margin: 40px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* -----------------------------------
 * --lists
 * ----------------------------------- */

ul li{
    margin: 12px 0;
    background: #ededed;
    padding: 8px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    line-height: 1.4em;

    border: none;
    cursor: pointer;
    outline: none;
    position: relative;

    box-shadow: 0 4px #dedede;
}
ul li:not(.selected):hover{
    box-shadow: 0 2px #dedede;
    top: 2px;
}
ul li:active{
    box-shadow: 0 0px #dedede;
    top: 4px;
}

ul li.selected{
    background: #bdbdbd;
    box-shadow:inset 0 2px #ababab;
    top: 2px;
}

ul li.correct{
    color: #fff;
    background: #5a864e !important;
    box-shadow:inset 0 4px #4d7841 !important;
    top: 4px !important;
}

/* -----------------------------------
 * --result
 * ----------------------------------- */

#result{
    clear: both;
    text-align: center;
    padding-top: 80px;
}

#result > span{
    display: none;
    font-size: 2em;
    color: #fff;
    padding: 10px;
}

#result .gotit{
    background: #0c6700;
    box-shadow:inset 0 4px #114f09;
}

#result .wrong{
    background: #c40000;
    box-shadow:inset 0 4px #8a0e0e;
}

/* -----------------------------------
 * --game over
 * ----------------------------------- */

#game-over{
    display: none;
}


